<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<string>包裹已送达湖南汽车工程职业学院菜鸟驿站，请及时拿去包裹。</string>
		<key>address</key>
		<string>已到达株洲</string>
		<key>time</key>
		<string>2017.6.5  10:14</string>
	</dict>
	<dict>
		<key>info</key>
		<string>长沙已发出，下一站是株洲红旗北路快递集散区</string>
		<key>address</key>
		<string>已到达湖南长沙</string>
		<key>time</key>
		<string>2017.6.4  13:47</string>
	</dict>
	<dict>
		<key>info</key>
		<string>武汉光明已发出，下一站是湖南长沙</string>
		<key>address</key>
		<string>已到达武汉光明</string>
		<key>time</key>
		<string>2017.6.3  16:27</string>
	</dict>
	<dict>
		<key>info</key>
		<string>上海集散中心已发出，安检已扫描；下一站是武汉光明</string>
		<key>address</key>
		<string>已到达上海集散中心</string>
		<key>time</key>
		<string>2017.6.2  09:25</string>
	</dict>
	<dict>
		<key>info</key>
		<string>北京已发出，下一站是上海集散中心</string>
		<key>address</key>
		<string>北京市已发出</string>
		<key>time</key>
		<string>2017.6.1  19:45</string>
	</dict>
</array>
</plist>
