<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...今天在衣</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array/>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>大气、沉稳～</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>大气、沉稳～</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>大气、沉稳～</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>approve</key>
		<integer>0</integer>
		<key>auditstatus</key>
		<integer>0</integer>
		<key>background</key>
		<string></string>
		<key>compid</key>
		<integer>0</integer>
		<key>draft</key>
		<integer>0</integer>
		<key>dsp</key>
		<string>大气、沉稳～</string>
		<key>exttime</key>
		<string>20171021143047</string>
		<key>issue</key>
		<integer>0</integer>
		<key>nick</key>
		<string>李晓路</string>
		<key>optcomment</key>
		<array/>
		<key>optthumb</key>
		<array/>
		<key>pagetype</key>
		<integer>0</integer>
		<key>photocollections</key>
		<array>
			<string>http://img-cdn.xykoo.cn/clothing/复古花边长袖连衣裙/clothingImg</string>
		</array>
		<key>pid</key>
		<integer>56016</integer>
		<key>portrait</key>
		<string>http://static.soperson.com/itver/13416713574/20170808/3951502164204812.jpg</string>
		<key>remark</key>
		<string>这个家伙很懒~</string>
		<key>spreadparams</key>
		<dict/>
		<key>thumb</key>
		<string>/itver/_img/15921859561/20171021/81291508567419143.jpg?w=640&amp;h=360</string>
		<key>title</key>
		<string>今天在衣库APP上租了几件衣服,大家一起来看一看啊,又便宜又好看,很实惠,很适合各种小仙女哦...</string>
		<key>url</key>
		<string>http://page.weishang99.net/itver/user/page?pid=56016&amp;promote=12345678910</string>
		<key>userid</key>
		<string>15921859561</string>
		<key>verify</key>
		<integer>0</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
